<div class="score-container">
  <p class="score-container_label">Score</p>

  <div class="score-container_result">
    <div class="score-container_result_info">
      <img class="score-container_result_info__icon" src="../../../../assets/icons/user_icon.png" alt="user_img">
      <p class="score-container_result_info__player">User: {{userScore}}</p>
    </div>
    <div class="score-container_result_info">
      <img class="score-container_result_info__icon" src="../../../../assets/icons/pc_icon.png" alt="pc_img">
      <p class="score-container_result_info__player">PC: {{pcScore}}</p>
    </div>
  </div>
</div>
